body, html{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
    text-align: center;
    height: 100%;
}
#megazine { margin: 0 auto 0 auto; outline: none;/* position: fixed; */}
#megazine h1 { color: #FFFFFF; }
#megazine img { border: none; }
#megazine p { color: #999999; font-size: 0.6em; }
#megazine a, a:visited { color: #CCCCCC; text-decoration: none; }
#megazine a:active { color: #FFFFFF; text-decoration: none; }
#megazine a:hover, a:focus { color: #FFFFFF; text-decoration: underline; }
/*@media screen and (min-height: 1000px){
    body{
        height: 1080px;
    }
}
@media screen and (min-height: 760px){
    body{
        height: 760px;
    }
}*/